.daily-activity-chart {
  background: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
  box-sizing: border-box;
}

.daily-activity-chart h3 {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 600;
  color: black;
  text-align: left;
}

.recharts-legend-item {
  font-weight: 600;
  font-size: 16px;
}
